@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$primary-color: #4f7cac;
$secondary-color: #0e3511;
$background-color: #c0e0de;
$tertiary-color: #3c474b;
$highlight-color: #9eefe5;

$font-family: "Poetsen One", sans-serif;