@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$primary-color: #4f7cac;
$black: #111111;
$secondary-color: #0e3511;
$background-color: #f8f8f8;
$tertiary-color: #3c474b;
$highlight-color: #9eefe5;

$font-family: "Seymour one", sans-serif;